In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
data.shape

(150, 6)

In [7]:
data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [13]:
x = data.drop(['Id', 'Species'], axis=1)
x.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [15]:
y = data['Species']
y.head(5)

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [ ]:
# Data selection for testing and training

In [57]:
from sklearn.model_selection import cross_val_score 
# Data divide using cross-validation. Then, we can select which is the best algorithm to train our dataset

In [77]:
# Model Training using K-Nearest Neighbors
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
cross_val_score(knn,x,y, cv =5).mean()
#cv = cross-validation (How many parts divide the full data set?)

0.9733333333333334

In [79]:
# Model Training using Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
cross_val_score(rf,x,y, cv =5).mean()

0.96

In [81]:
# Model Training using Naive Bayes
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
cross_val_score(nb,x,y, cv =5).mean()

0.9533333333333334

In [83]:
# Model Training using SVC
from sklearn.svm import SVC
svm = SVC(kernel = 'poly', C= 10)
cross_val_score(svm,x,y, cv =5).mean()

0.9666666666666666